@model IEnumerable<publishing.Models.PrintingHouse>

@{
    ViewData["Title"] = "Список типографий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список типографий</h1>

<p>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create">Добавить типографию</a>
    }
</p>

@if (Model.Count() > 0)
{
    <div class="info">
        <input id="info__body_1" class="info__switch" type="checkbox">
        <label for="info__body_1" class="info__headline">Фильтрация данных</label>
        <div class="info__body">
            <form method="get">
                <div class="d-flex">
                    <div class="d-inline-block">
                        <label>Название: </label>
                    </div>
                    <div class="d-inline-block" style="margin-left:7px;">
                        <input type ="text" name="name" class="form-control">
                    </div>
                    <div class="d-inline-block" style="margin-left:10px;">
                        <label>Номер телефона: </label>
                    </div>
                    <div class="d-inline-block" style="margin-left:7px;">
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="d-inline-block" style="margin-left:10px;">
                        <label>Электронная почта: </label>
                    </div>
                    <div class="d-inline-block" style="margin-left:7px;">
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div class="d-inline-block" style="margin-left:10px;">
                        <input type="submit" value="Поиск" class="btn btn-primary" style="margin-top:5px;" />
                    </div>
                    <div class="d-inline-block" style="margin-left:10px;">
                        <a asp-action="Index" class="btn btn-primary" style="margin-top:5px;">Сброс</a>
                    </div>
                </div>

                <div class="d-flex" style="margin-top:5px;">
                    <div class="d-inline-block">
                        <label>Субъект РФ: </label>
                    </div>
                    <div class="d-inline-block" style="margin-left:7px;">
                        <input type="text" name="state" class="form-control" style="width:272px;">
                    </div>
                    <div class="d-inline-block" style="margin-left:10px;">
                        <label>Город: </label>
                    </div>
                    <div class="d-inline-block" style="margin-left:7px;">
                        <input type="text" name="city" class="form-control">
                    </div>
                    <div class="d-inline-block" style="margin-left:10px;">
                        <label>Улица: </label>
                    </div>
                    <div class="d-inline-block" style="margin-left:7px;">
                        <input type="text" name="street" class="form-control">
                    </div>
                    <div class="d-inline-block" style="margin-left:10px;">
                        <label>Дом: </label>
                    </div>
                    <div class="d-inline-block" style="margin-left:7px;">
                        <input type="text" name="house" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.House)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(m => m.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.House)
                    </td>
                    <td>
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                            <span>| </span>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                            <span>| </span>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> 

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

