@model publishing.Models.Employee

@{
    ViewData["Title"] = "Удаление сотрудника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление сотрудника</h1>

<h3>Вы уверены,что хотите удалить этого сотрудника?</h3>
<hr style="margin-bottom:0;"/>

<div style="display:flex">
    @if (ViewBag.Photodata != null)
    {
        <div>
            <div style="width:100%; text-align:center;">
                <img class="mt-4 mb-4" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))" id="cust_img">
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" onclick="ConfirmAction('Вы подтверждаете удаление сотрудника @Model.Surname @Model.Name @Model.Middlename? Если у данного сотрудника имеются заказы, то действие будет отменено')" /> |
                <a asp-action="Index">Вернуться к списку сотрудников</a>
            </form>
        </div>
    }
    <dl class="row mt-4" style="margin-left: 4px;">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Middlename)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt style="margin-bottom:10px;">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <textarea asp-for="Description" id="summernote" class="form-control"></textarea>
        </dd>
    </dl>
</div>

@section Scripts {
        <script>
            $(document).ready(function() {
            $('#summernote').summernote({
                height:150,
                disableDragAndDrop: true,
                disableResizeEditor: true
            });
                $('#summernote').summernote('disable');
            });
        </script>
}
