@model publishing.Models.ViewModels.MaterialDetailsViewModel

@{
    ViewData["Title"] = "Просмотр материала";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация о материале</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Cost)
        </dd>
    </dl>
</div>
<div class="container p-0" style="height:40px;">
      <div class="row pb-3">
          <div class="col-md-9">
                @{
                    if (Model.Products.Count() != 0){<h4>Продукция</h4>}
                else{<h4>Продукция отсутствует</h4>
                }
            }
        </div>
    </div>
</div>

@{
    if (Model.Products.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Products.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products.First().Cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Products.First().Customer.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products.OrderBy(p=> p.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
    <div>
    @if (User.IsInRole("admin") && Model.Material.ProductMaterials.Count == 0)
    {
        <a asp-action="Edit" asp-route-id="@Model.Material.Id">Изменение данных о материале</a>
        <span>| </span>
    }
    <a asp-action="Index">Вернуться к списку материалов</a>
</div>
