@model IEnumerable<publishing.Models.Employee>

@{
    ViewData["Title"] = "Регистрация заказа";
}

<h1>Выбор сотрудников</h1>

<form asp-action="ChoosePrintHouse" class="form-group" onsubmit="CheckBoxes('Пожалуйста, выберите сотрудника(-ов) для регистрации заказа')">

    <input type="hidden" name="bookingId" value=@ViewBag.bookingId />
    <div class="form-group" style="margin-bottom: 10px;">
        <label class="control-label" style="font-size:20px;">Номер заказа:</label>
        <label class="control-label" style="font-size:20px;">@ViewBag.bookingId</label>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Выбрать
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Middlename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(emp => emp.Surname))
            {
                <tr>
                    <td>
                        <input type="checkbox" class="check_box" name="selectedEmployees" id="@item.Id" value="@item.Id">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Middlename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group pt-3" style="margin-top: -23px;">
        <input type="submit" value="Продолжить" class="btn btn-primary" />
    </div>
</form>
